server:
  port: 8080

spring:
  application:
    name: gatheria
  config:
    import: application-secret.yml
    activate:
      on-profile: docker

  security:
    debug: true

  datasource:
    url: jdbc:mysql://mysql:3306/gatheria
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    org:
      springframework:
        security: DEBUG
      mybatis: DEBUG

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000