<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gatheria.mapper.AuthMapper">

    <select id="findStudentByEmail" parameterType="string" resultType="com.gatheria.domain.Student" >
        SELECT id, email, password, name, phone, active
        FROM students
        WHERE email = #{email}
    </select>

    <select id="findInstructorByEmail" parameterType="string" resultType="com.gatheria.domain.Instructor">
        SELECT id, email, password, name, phone, affiliation, active
        FROM instructors
        WHERE email = #{email}
    </select>
</mapper>