<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gatheria.mapper.AuthMapper">

    <resultMap id="StudentResultMap" type="com.gatheria.domain.Student">
        <id property="id" column="student_id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="active" column="active"/>
    </resultMap>

    <resultMap id="InstructorResultMap" type="com.gatheria.domain.Instructor">
        <id property="id" column="instructor_id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="active" column="active"/>
        <result property="affiliation" column="affiliation"/>
    </resultMap>

    <select id="findStudentByEmail" parameterType="string" resultMap="StudentResultMap">
        SELECT members.*, students.id as student_id
        FROM members
                 JOIN students ON members.id = students.member_id
        WHERE members.email = #{email}
    </select>

    <select id="findInstructorByEmail" parameterType="string" resultMap="InstructorResultMap">
        SELECT members.*, instructors.id as instructor_id, instructors.affiliation
        FROM members
                 JOIN instructors ON members.id = instructors.member_id
        WHERE members.email = #{email}
    </select>
</mapper>